<html>
<head>
	<title> Musical Artists </title>
</head>
<body bgcolor="#98FF98">

<center>
	<span style="font-size:x-large; color:purple;"> <a href="/">Add An Artist</a></span>
</center>
<form method="post">
	<p>Artist Name:</p>
	<input type="text" name="artist">
	<br/>
	<p>Genre:</p>
	<input type="text" name="genre"/>
	<br/>
	<p>Grammys:</p>
        <input type="text" name="grammy"/>
        <br/>
	<p>Monthly Listeners:</p>
        <input type="text" name="monthly"/>
        <br/>
	<p>Top Song:</p>
        <input type="text" name="topsong"/>
        <br/>
	<input type="submit" name="addartists" value="Submit"/>
</form>
</div>
</body>
</html>
